
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vanguard Dungeons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Which Vanguard Dungeon Should We Run?</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <p>Choose parameters below to get your answer!</p>
      <p>(target level has precedence if you put a number in that field)</p>

			<div id="input" class="row"></div>

			<div id="result" class="row"></div>

    </div> <!-- /container -->

	<!-- Templates -->

	<script type="text/template" id="select-template">
		<input type="text" id="target-value" value="<%= target %>" />
		<span>Target Level</span>
		<br/>

		OR:

		<br/>

		<input type="text" id="high-value" value="<%= high %>" />
		<span>High Bound on Level</span>
		<br/>

		<input type="text" id="low-value" value="<%= low %>" />
		<span>Lower Bound on Level</span>
		<br/>

		<button type="button" class="find-dungeon">Choose Random</button>
		<button type="button" class="list-dungeons">Show Available</button>
		<div style="clear:both"></div>
	</script>


	<script type="text/template" id="list-results">
		<h3><%= name %></h3>
	</script>


		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="external/underscore.js"></script>
		<script type="text/javascript" src="external/backbone.js"></script>

    <!--script src="external/bootstrap-transition.js"></script>
    <script src="external/bootstrap-alert.js"></script>
    <script src="external/bootstrap-modal.js"></script>
    <script src="external/bootstrap-dropdown.js"></script>
    <script src="external/bootstrap-scrollspy.js"></script>
    <script src="external/bootstrap-tab.js"></script>
    <script src="external/bootstrap-tooltip.js"></script>
    <script src="external/bootstrap-popover.js"></script>
    <script src="external/bootstrap-button.js"></script>
    <script src="external/bootstrap-collapse.js"></script>
    <script src="external/bootstrap-carousel.js"></script>
    <script src="external/bootstrap-typeahead.js"></script-->

    <script type="text/javascript" src="dungeons.json"></script>
    <script type="text/javascript" src="js/dungeons.js"></script>

  </body>
</html>

